# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives** 
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table of development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numy

|Data Science Tools|
|---------------|
|Jupyter|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author 
Jaimer Florendo